@font-face {
  font-family: 'AudioLink Mono';
  src: url('/fonts/AudioLinkMono-Demi.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --purple: #7974D0;
  --pink: #CBA6F7;
  --blue: #89B4FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'AudioLink Mono', sans-serif;
  --font-mono: 'AudioLink Mono', monospace;

  --color-prl: #7974D0;
  --color-pnk: #CBA6F7;
  --color-blu: #89B4FA;

  --shadow-prl-glw: 0 0 15px #7974D0;
  --shadow-pnk-glw: 0 0 15px #CBA6F7;
  --shadow-blu-glw: 0 0 15px #89B4FA;
  --shadow-wht-glw: 0 0 10px rgba(255, 255, 255, 0.5);

  --text-shadow-prl: 0 0 10px #7974D0;
  --text-shadow-pnk: 0 0 10px #CBA6F7;
  --text-shadow-blu: 0 0 10px #89B4FA;
  --text-shadow-wht: 0 0 5px rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.centred-select {
  text-align-last: center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'AudioLink Mono', 'Agave', monospace;
  cursor: default;
}

.custom-scroll {
  scrollbar-gutter: stable;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.7rem;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(254, 78, 78, 0.1);
  border-radius: 0.5rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(137, 180, 250, 0.5);
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(137, 180, 250, 0.7);
}

.clip-rounded {
  clip-path: inset(0 round 1.5rem);
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

.smooth-slide {
  transition-property: opacity, transform;
  transition-duration: 500ms, 500ms;
  transition-timing-function: ease-in-out;
}

.bg-img {
  background-image: url("/wlc-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* SHADOWS SHADOWS SHADOWS */
.white-href {
  text-shadow: 0 0 15px #fff;
  transition: all 300ms;

  &:hover {
    text-shadow: none;
  }
}

.txt-sh-white {
  text-shadow: 0 0 10px #fff;
}

.txt-sh-white-hover {
  &:hover {
    text-shadow: 0 0 10px #fff;
  }
}

.drp-white {
  filter: drop-shadow(0 0 5px #fff)
}

/* PINK */
.pink-txt {
  color: var(--pink);
}

.pink-sh {
  box-shadow: 0 0 10px var(--pink);
}

.pink-txt-sh {
  text-shadow: 0 0 15px var(--pink);
}

.pink-br {
  border-color: var(--pink);
}

.pink-bg {
  background-color: var(--pink);
}

.pink-btn {
  background-color: var(--pink);

  &:hover {
    background-color: var(--pink);
  }

}

.pink-btn-empty {
  background-color: none;
  transition: all 300ms;

  &:hover {
    background-color: var(--pink);
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
  }
}

/* PURPLE */
.purple-txt {
  color: var(--purple);
}

.purple-sh {
  box-shadow: 0 0 10px var(--purple);
}

.purple-sh-hover {
  &:hover {
    box-shadow: 0 0 10px var(--purple);
  }
}

.purple-txt-sh {
  text-shadow: 0 0 15px var(--purple);
}

.purple-br {
  border: 1px solid var(--purple);
}

.purple-bg {
  background-color: var(--purple);
}

.purple-btn {
  background-color: var(--purple);
  border: 1px solid var(--purple);
  transition: all 300ms;

  &:hover {
    background-color: var(--purple);
    box-shadow: 0 0 10px var(--purple);
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
  }
}

.purple-btn-empty {
  background-color: none;
  border: 1px solid var(--purple);
  transition: all 300ms;

  &:hover {
    background-color: var(--purple);
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
  }
}


/* BLUE */
.blue-txt {
  color: var(--blue);
}

.blue-sh {
  box-shadow: 0 0 10px var(--blue);
}

.blue-sh-hover {
  &:hover {
    box-shadow: 0 0 10px var(--blue);
  }
}

.blue-txt-sh {
  text-shadow: 0 0 15px var(--blue);
}

.blue-br {
  border: 1px solid var(--blue);
}

.blue-bg {
  background-color: var(--blue);
}

.blue-btn {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  transition: all 300ms;

  &:hover {
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--blue);
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
  }
}

.blue-btn-empty {
  background-color: none;
  border: 1px solid var(--blue);
  transition: all 300ms;

  &:hover {
    background-color: var(--purple);
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
  }
}

/*  */

.glow-wrapper {
  position: relative;
  display: inline-block;
  transition: transform 400ms ease, filter 400ms ease;

  &:hover {
    filter: brightness(1.35);
  }
}

.gradient-border {
  position: relative;
  z-index: 1;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  background-image:
    linear-gradient(#0e081d, #150b33),
    linear-gradient(to bottom, #311c7a, #615cc0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 500ms ease;
  overflow: hidden;
}

.glow-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 1.5rem;
  inset: -5px;
  background: linear-gradient(to bottom,
      rgba(154, 68, 204, 0.9) 0%,
      rgba(203, 166, 247, .4) 30%,
      rgba(100, 94, 215, .4) 70%,
      rgba(99, 92, 237, .9) 100%);
  filter: blur(10px);
  opacity: .8;
  pointer-events: none;
  z-index: 0;
}